@import url('https://fonts.googleapis.com/css?family=Roboto|Balsamiq+Sans');
:root {
    --heading-font: "Roboto", Lora, "Times New Roman";
    --paragraph-font: Balsamiq Sans, Helvetica, sans-serif;
}  
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  } 
p, a, div {
    font-family: var(--paragraph-font);
}  
#content {
    max-width: 1600px;
    margin: 0 auto;
  }
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin: 5px;
}
.logo {
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}  
nav a {
    text-align: center;
    color: #222222;
    text-decoration: none;
    padding: 30px;
    font-size: x-large;
} 
nav a:hover {
    background-color: black;
    color: #1CD1C5;
}  
header {
    background-color:rgba(28, 209, 197); 
    display: grid;
    grid-template-columns: 150px auto;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 200px;
}
#hero-msg h1 {
    text-align: center;
    color: #1C1C1C;
    font-size: 65px;
}
#hero-msg h4 {
    text-align: center;
    color: #1C1C1C;
    font-size: 25px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
    width:100% 
}
.home-title{
    color: #d9c2a3;
    font-size: 2em;
    margin-top: 10px;
}
footer{
    background-color: #000000; 
    color: #d9c2a3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a{
    color: #1CD1C5;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    color: #1CD1C5;
}  
footer p a:hover {
    color: #FFCC00;
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
} 


.background-home {

    background-color: #1CD1C5; 
    border-style: solid;
    border-color: #000000;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 90%;
    margin: 15px auto;
    border-radius: 15px;

}
.background-home h2{
    border-style: solid;
    border-color: #000000;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 14/16;
    grid-row-start: 1;
    z-index: 2;
    margin: auto;
    padding: 5px;
    background-color: #1C1C1C;
    color: #1CD1C5;
    border-radius: 10px;
}
.events-home{
    box-shadow: 5px 5px 10px #6f7364;
    border-style: solid;
    border-color: #000000;
    grid-column: 1/12;
    grid-row: 1/7;
    margin: 25px;
    max-width: 100%;
}
.msg1{
    border-style: solid;
    border-color: #000000;
    background-color: #FCFCFF;
    box-shadow: 5px 5px 10px #6f7364;
    grid-column: 7/15;
    grid-row: 3/6;
    z-index: 3;
    padding: 5px;
    margin: auto;
    border-radius: 15px;
    color: #1C1C1C;
    transition: transform .5s;
}
.msg1:hover{
    transform: scale(1.1);
}

.msg{
    background-color: #222222; 
    padding: 35px;
    line-height: 1.5em;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2{
    color: #FEFEFF;
}
.msg p{
    color: #FEFEFF;
    font-size: .8em;
    padding-bottom: 15px;
}
main section  {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
body{
    background-color: #C7C5C7;
}



 /* EVENTS HTML */ 

 .events-grid {
    margin: auto;
    padding: 20px 0;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
  }
  .all-events {
    padding: 5px;
    margin: 10px; 
    box-shadow: 0 15px 20px #999; 
    text-align: center;
    position: relative;
    background-color: #1C1C1C;
    border-radius: 15px;
  }

 .events-msg{
   background-color: #1CD1C5;
   color: #1C1C1C;
   border-color: #1C1C1C;
   border-radius: 15px;
   border-style: solid;
   max-width: 90%;
   margin: auto;
 }
 .events-msg h2{
    color: #1C1C1C;
 }
 .all-events h3 {
   color: #1CD1C5;
 }

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #1CD1C5;
}

.all-events:hover .overlay {
  opacity: 1;
}

.text {
  color: #1C1C1C;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




 /* CONTACTUS HTML */ 

 .contactus-msg{
    background-color: #1CD1C5;
    color: #1C1C1C;
    border-color: #1C1C1C;
    border-radius: 15px;
    border-style: solid;
    max-width: 90%;
    margin: auto;
  }
  .contactus-msg h2{
     color: #1C1C1C;
  }
  .contactus-grid {
    margin: auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
    background-color :rgba(252, 252, 255);
    padding-bottom: 30px;
  }
  .content-map{
    grid-column: 1/3;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 75px);
    margin-bottom: 25px;
}
.mapouter {
    text-align: center;
    position: relative;
    grid-column: 1/3;
    grid-row: 1/8;
  }
 .map{
    width: 1400px;
    height: 450px; 
    border:0;
 }
  .card-phone {
    padding: 5px;
    /* margin: 10px;  */
    margin: auto;
    box-shadow: 0 15px 20px #999; 
    text-align: center;
    position: relative;
    border-radius: 15px;
    background-color: #FEFEFF;
    width: 150px;
    height: 150px;
    grid-column: 1;
    grid-row: 6/8;
    position: relative;
  }
  .card-calendar {
    padding: 5px;
    /* margin: 10px;  */
    margin: auto;
    box-shadow: 0 15px 20px #999; 
    text-align: center;
    position: relative;
    border-radius: 15px;
    background-color: #FEFEFF;
    width: 150px;
    height: 150px;
    grid-column: 2;
    grid-row: 6/8;
    position: relative;
  }
  .card-phone:hover .overlay, .card-calendar:hover .overlay {
    opacity: 1;
  }
  
  .myForm {
    padding: 5px;
    box-shadow: 0 15px 20px #999; 
    text-align: center;
    position: relative;
    width: 600px;
    background-color: #1CD1C5;
    color: #1C1C1C;
    border-color: #1C1C1C;
    border-radius: 15px;
    border-style: solid;
  }
  .card-phone .overlay .text {
    width: 100%;
  }
  .myForm ul{
    list-style: none;
  }
input[type=text], input[type=email]{ 
    width: 80%;
}
button{
    background-color: #1C1C1C;
    color: #1CD1C5;
    padding: 10px;
    font-size: 1em;
}
#feedback{
    display: none;
    text-align: center;
    grid-column: 2;
    background-color: #FFCC00;
    padding: 7px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h1 {
        color: #000000;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
    }
    .background-home {
        display: block;
        border-style: none;
    }
    .events-home, .msg {
        width: 90%;
        display: block;
        margin: 0 auto;
        border-style: none;
    }
    .background-home h2 {
      text-align: center;
      margin: auto;
      border-radius: 5px 5px 0 0;  
      border-style: none;
    }
    .msg1{
        border-radius: 0 0 5px 5px; 
    }
    footer {
        margin-top: 25px;
    }
    .events-grid {
      display: block;  
    }
    .events-msg{
        max-width: 100%;
    }
    .contactus-grid{
        display: block;

    }
    .content-map{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto;
    }
    .mapouter{
        max-width: 100%;
        grid-column: 1/3;
        grid-row: 1;
    }
    .map{
        max-width: 100%;
    }
    textarea{
       max-width: 80%; 
       font-size: 1.5em;
    }
    .myForm{
        max-width: 88%;
        margin: auto;
        margin-top: 10px;
    }
    input{
        font-size: 1em;
    }
    .card-phone{
        margin: auto;
        grid-row: 2;
    }
    .card-calendar{
        margin: auto;
        grid-row: 2;
    }

}
